.settings/
webapp/WEB-INF/classes/
webapp/WEB-INF/target/
bin/
build.sh
integration-repo
build/
.idea/
target/

*.jar
*.war
*.ear

*.class
*.bak
*.tmp
*.log

*.iml
*.ipr
*.iws
out




